
nav {
    width: 100%;
    height: 70px;
    background-color: #82088d;
   }
   nav ul  {
    float: right;
    }
nav ul li {
        float: right;
        list-style:none;
        position: relative;
    }
    /* Changes color when hovering*/
    nav a:hover {
        background-color:#e7acfd;
    }
    nav ul li a{
        display: block;
        font-family: arial; 
        font-weight: bold;
        color: #FCFCFC;
        font-size: 20px;
        padding: 0px 10px 10px 15px;
        text-decoration: none;
    }
    /* dropdown styling*/
    nav ul li ul{
        display: none;
        position: absolute;
        background-color: #aa48be;
        padding: 10px; 
        border-radius: 0px 0px 4px 4px;
    }
    /* to show dropsdown when hovering*/
    nav ul li:hover ul{
        display: block;  
    }
    
    nav ul li ul li {
        width: 100px;
        text-align: center;
        border-radius: 4px;      
    }
    nav ul li ul li a {
        padding: 0px 12px;
    }
    
nav ul li ul li a:hover {
    background-color:#e7acfd;
}
.hamburger{
    width: 2em;
    height: 0.25em;
    display: block;
    background: #FFFFCC;
    position: relative;
    cursor: pointer;
}

.hamburger::after, .hamburger::before{
    content: "";
    position: absolute;
    left: 0;
    background: inherit;
    width: inherit;
    height: inherit;

    transition: 0.2s transform ease-in-out;
}

.hamburger::after{
    top: 0.65em;
}

.hamburger::before{
    bottom: 0.65em;
}

.close::after, .close::before{
    top: 0;
    transition: 0.2s transform ease-in-out;
}

/*
.close::before{
    display: none;
}

.close{
    transform: rotate(45deg);
    transition: 0.2s transform ease-in-out;
}

.close::after{
    transform: rotate(-90deg);
}
*/

/* reveal menu */
input[type="checkbox"]:checked + .menu {
position: absolute;
opacity: 1;
transform: scaleY(1);
}

