#paragraph {font-style: italic;}
.heading1 {color: #8a2be2;
           margin: 20px;}
nav ul { display: flex;
  justify-content: space-evenly;}
  div{margin-left: 10px;}
 
  .title{color:#82088d;
         background-color: #ffa8ff;}
  
  .quote {color:#82088d;}

  .body {color:#82088d;
       background-color:#ffa8ff;
       justify-content: center;
       float: right;
       padding: 20px;
       width: 50%;
       height: 100%;}
  .body2 {color:#82088d;
        background-color:#ffa8ff;
        text-align: left;
        line-height: 1.5;
        margin: auto;
        width: 70%;
        
        padding-left: 80px;}
    .Footer { display: grid;
            grid-area:  footer;
            background-color: #ffffff;
            text-align: center;
            border: 5px solid #000000;
            margin: auto;
            width: 100%;
            height: 35px
            }
            html {
                font-family: Arial, Helvetica, sans-serif;}yj
     
/*Home Page style*/

.indexfooter {
  background-image: url(footerimage.jpg);
}
.footerimg {
  width: 20px;
  height: 20px;
  } 
  .footerimg:hover {
      width: 30px;
      height:30px;
  }

  aside {
    display:inline;
    float: left;
    justify-content: center;
    width: 30%;
    height: auto;
    
    margin: 20px;
}

/*Paragraph styling */
article {
  float: right;
  padding: 20px;
  width: 50%;
  height: 100%;
}

/*Contact page style */

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
label {
  float: left;
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  margin-right: .5em;
}

input, textarea {
  margin-bottom: 1em;
  width: 50%;
  margin-left: 1em!important;
}
.submit {
  margin-left: 7em;
  width: 100px;
  text-align: center;
}
 /*table style*/

 table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin: 64px auto 128px;
  max-width: 760px;
  background-color: #ffffff
}

table thead {
  text-align: center;
  background-color: #8a2be2;
  color: #ffffff;
  padding: 4px 30px 4px 8px;
}
table td {
  border: 1px solid #82088d;
  padding: 4px 8px;
}


/* Media Queries for responsive design */
@media only screen and (max-width: 1250px) {
  tr {
      font-size: 16px;
  }

  table#degreetable {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
  }
}


@media  screen and (max-width: 600px) {
  p, h1, h2 {
      font-size: 3rem;
  }
}
@media screen and (min-width: 1020px) {
  body {
    background: #ffa8ff; 
  }}

  /*print style*/
@media print {
  *{ background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;}
      }