#paragraph {font-style: italic;}
.heading1 {color: #8a2be2;}
nav ul { display: flex;
  justify-content: flex-end;}
  div{margin-left: 10px;}
 
  .Content {
    font-size: 18px;
    background-color: #ffa8ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 45px;
  }

.overview {color:#82088d;}
.body {color:#82088d;}
.quote {color:#82088d;
  margin: -10px;
   }
.Footer {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: row;
  grid-template-areas:
   "Footer";
  background-color: #ffffff;
 text-align: center;
  border: 5px solid #000000;
  padding: 1%;
  margin: auto;
  width: 100%;
}
/* Media Queries for responsive design */
@media only screen and (max-width: 1250px) {
  tr {
      font-size: 16px;
  }

  table#degreetable {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
  }
}

@media only screen and (max-width: 800px) {
  tr {
      font-size: 12px;
  }
  table#degreetable {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
  }
}

@media  screen and (max-width: 600px) {
  p, h1, h2 {
      font-size: 1.15rem;
  }
}

@media screen and (max-width: 800px) {
  p {
      font-size: 1.25rem;
      line-height: 1.25;
  }
}

@media (max-width: 600px) {
  aside, article {
      width: 100%;
      height: auto;
  }
}
@media screen and (min-width: 1020px) {
  body {
    background: #ffa8ff;
    margin: 25px 10%;
    max-width: 1130px;
  }
  
  figure {
    width: 30%;
    margin-right: 2.5%;
  }
}