#paragraph {font-style: italic;}
.heading1 {color: #8a2be2;
           margin: 20px;}
nav ul { display: flex;
  justify-content: space-evenly;}
  div{margin-left: 10px;}
 
  .title{color:#82088d;
         background-color: #ffa8ff;}
  .quote {color:#82088d;}

.intro {color:#ffffff;
  background-color:#82088d;
  justify-content: center;
}
  .body {color:#82088d;
       background-color:#ffa8ff;
       justify-content: center;}

        .Footer { display: grid;
        grid-area:  footer;
        background-color: #ffffff;
        text-align: center;
        border: 5px solid #000000;
        margin: auto;
        width: 100%;
      }
/*Home Page style*/
.indexfooter {
  background-image: url(footerimage.jpg);
}
.footerimg {
  width: 20px;
  height: 20px;
  } 
  .footerimg:hover {
      width: 30px;
      height:30px;
  }

  aside {
    display:inline;
    float: left;
    justify-content: center;
    width: 30%;
    height: auto;
    
    margin: 20px;
}
  article {
    float: right;
    position: relative;
    padding: 20px;
    width: 50%;
    height: 100%;
}
/* Media Queries for responsive design */
@media only screen and (max-width: 1250px) {
  tr {
      font-size: 16px;
  }

  table#degreetable {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
  }
}

@media  screen and (max-width: 600px) {
  p, h1, h2 {
      font-size: 3rem;
  }
}
@media screen and (min-width: 1020px) {
  body {
    background: #ffa8ff; 
  }}

  /*print style*/
@media print {
  *{ background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;}
      }